body {
    font-family: Arial;
    background: #111;
    color: white;
    padding: 20px;
}

.card {
    background: #222;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
